/* App.scss */
/* colors */
$gray: #828282;
$darkMoss: #55673e;
$mossGreen: #909f7c;
$night: #111;

body {
  background-color: #e9ecef;
}
a {
  color: $darkMoss;
  &:hover {
    color: $mossGreen;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

h1, h2 {
  font-family: 'Niconne', cursive;
}
h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  // font-family: Vacations Brush;
  // font-family: 'Galada', cursive;
  // font-family: 'Niconne', cursive;
}
h1 {font-size: 80px;}
h2 {font-size: 44px;}
h3 {font-size: 32px;}
.h5 {font-size: 32px;margin-bottom: 0;}

/* BUTTON */
.btn-primary {
  color: initial;
  background-color: transparent;
  border: $darkMoss 2px solid;
  border-radius: 3px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
.btn-primary.hover, .btn-primary:hover,
.btn-primary.active, .btn-primary:active,
.btn-primary.focus, .btn-primary:focus {
  color: initial;
  background-color: $mossGreen !important;
  border: $darkMoss 2px solid !important;
  transition: all 300ms ease !important;
  // box-shadow: 0 0 0 0.2rem rgba(238,124,24,.5) !important;
  -webkit-transition: all 300ms ease;
}
.btn-primary.focus, .btn-primary:focus {
  background-color: $mossGreen;
  border: $darkMoss 2px solid;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  box-shadow: 0 0 0 0.2rem rgba(86,4,16,.5);
}

.details.container button {
  border: none !important;
}
.icon-container {
  // background: red;
  display: inline-block;
  padding-top: 1.5rem;
  // display: flex;
  & > div {
    // display: flex;
    display: inline-block;
    margin: 0 20px 20px;
    & span {
      min-width: 180px;
      // padding-left: 20px;
      & img {
        width: 50px;
        padding-left: 10px;
      }
    }
    & button > div {
      min-width: 220px;
    }
  }
}
.btn-primary.main_button {
  background-color: #fff;
  border: #ccc solid 2px;
  border-radius: 0px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  font-size: 2rem;
  box-shadow: none !important;
  // padding: .375rem .75rem;
  padding: 0;
  &:hover, &:focus, &:active {
    // color: #fff;
    background-color: $mossGreen !important;
    border-color: initial !important;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }

  & > div {
    padding: .375rem .75rem;
    border: $darkMoss solid 2px;
  }
}
#rings_top {
  height: 150px;
  max-width: 100%;
}
/* END */

.main-section {
  background: #fff;
  margin: 40px 40px 0;
  padding: 40px 0;
  border-radius: 20px;
  // & .top-section {
  //   background:red;
  // }
}
#menu {
  background-color: #828282;
  max-width: calc(100% - 40px);
  width: 80%;
  margin: -10px auto 0;
}
.modal-header .modal-title {
  text-align: center;
  width: 100%;
  font-size: 2rem;
}
.modal-registry button,
.modal-rsvp button,
.modal-accomodations button {
  background: #fff;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  &:hover, &:focus, &:active {
    background-color: $mossGreen !important;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
}
.modal-registry button:after,
.modal-rsvp button:after,
.modal-accomodations button:after {
  content: 'X';
}

.registry-icons .modal-body .card {
  border: none;
}
.registry-modal a > div {
  padding: .375rem .75rem;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.max_width_80 {
  max-width: calc(100% - 40px);
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.home {
  height: 50vh;
  background-size: cover;
  background-position: center right;
}
.home .container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 40px;
}
.hero {
  background-color: rgba(235, 227, 217, 0.75);
}
.hero-text {
  margin-bottom: -40px;
}
#sticky-menu:last-child {
  width: 100% !important;
  margin: 0;
  z-index: 100;

  &.sticky {
    width: 100% !important;
    margin: 0 -40px;
  }
}
#top-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  // margin-top: -20px;
  background: #fff;
  & ul {
    margin-bottom: 0;
    padding: 0;
    display: flex;
    // justify-content: space-evenly;
    justify-content: center;
    & li {
      padding: 0 10px;
      list-style-type: none;
      & a {
        border-bottom: solid transparent 3px;
      }
      &:hover a {
        border-color: $mossGreen;
      }
      & a:hover {
        text-decoration: none;
      }
    }
  }
  
}
.hero-menu {
  min-height: 100px;
}
.hero-menu h2.title {
  color: $darkMoss;
  padding-bottom: 20px;
}
.hero-menu h3.title {
  margin-bottom: 0px;
}
.about-us .section {
  & h2 {
    color: $darkMoss;
  }
  & img {
    width: 600px;
    max-width: 100%;
  }
}

.countdown-container .CountdownDay span {
  display: inline-block;
}
.countdown-container {
  display: block;
  padding: 0;
  margin: 40px 0 0px;
}
.countdown-container > div.Countdown > span {
  // padding: 0 15px;
  color: $darkMoss;
  font-weight: 500;
  display: inline-flex;
}
.countdown-container > div.Countdown > span.increment {
  padding: 0 5px;
}
.countdown-container .Countdown span > strong {
  padding: 0 4px;
  color: $mossGreen;
  display: block;
}
.countdown-container .Countdown h2 {
  text-align: center;
}
.container-fluid.timeline {
  max-width: 100%;
  padding: 0;
  z-index: 0;
}
.container-fluid.timeline .timeline {
  max-width: 80%;
}
img#about_us {
  width: 100%;
}
img#film_strip {
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
}
div#film_images {
  position: relative;
  z-index: 0;
  & div {
    display: flex;
  }
}
div#film_images img:not(#film_strip) {
  width: 20%;
}
.bio-card .card {
  width: 80%;
  margin: auto;
  & p {
    text-align: left;
  }
  & .card-title {
    padding-top: 1.25rem;
  }
}
.hero-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-row a {
  padding: 0 20px;
}
.hero-row button {
  // font-family: Vacations Brush;
  // font-family: 'Galada', cursive;
  font-size: 30px;
}
.hero-row > div:nth-child(2) {
  display: block !important;
  position: relative;
}
#buttons.section {
  background-color: rgba(235,227,217,0.75);
}
#buttons.section > div {
  width: 800px;
  max-width: 100%;
  margin: auto;
}
.about-us {
  position: relative;
  z-index: 0;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-image: url('./images-stock/about-flower-blue.jpg');
  & .about_text {
    z-index: 0;
    background: rgba(255,255,255,0.5);
    padding: 1.5rem;
    width: calc(90% - 1.5rem);
    border-radius: 20px;
    margin: auto;
  }
}
.about-us::before {
  content: "";
  position: absolute;
  // z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  background: inherit;
  filter: blur(0px);
}
.fur-babies {
  z-index: 0;
  position: relative;
  background-color: rgba(255,255,255,1);
}
.fur-babies .card {
  // border: 3px solid $darkMoss;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  & .card-img-top {
    border-radius: 0;
  }
}
.fur-babies .col-6:nth-child(even) .card {
  margin-bottom: 20px;
}
.registry .card {
  border: none;
  width: 80%;
  max-width: 300px;
  margin: auto;
}
.registry .col-6 {
  margin-bottom: 40px;
}
.registry .container {
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .home.max_width_80 {
    max-width: 100%;
    width: 100%;
    height: 50vh;
    // border-radius: 20px;
  }
  .home .container {
    align-items: self-start;
    text-align: right;
  }
  .home .container h2 {
    text-align: right !important;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  .hero-menu .title {
    padding: 0 1rem;
  }
  .menu#top-menu ul {
    font-size: 1rem;
  }
}



@import url('https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One');
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  margin: -30px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  // font-family: Vacations Brush;
  // font-family: 'Galada', cursive;
  color: #fff;
}
h2.timeline__content-title {
  font-size: 66px;
}
h3.timeline__content-title {
  font-size: 44px;
}
p.timeline__content-desc {
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  // font-family: Cardo;
  font-weight: normal;
  line-height: 25px;
}
p.timeline__content-desc strong {
  display: block;
  padding-bottom: 0.5rem;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.5);
}
.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  font-size: 44px;
  text-transform: uppercase;
  // font-family: Vacations Brush;
  // font-family: 'Galada', cursive;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(1) {
  
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: 30px 0 10px 0;
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 90px;
  }
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 100px;
  }
  .timeline-item:before {
    content: attr(data-short-text) !important;
    font-size: 20px !important;
    top: 50px;
    left: 10px !important;
    padding: 0 !important;
    text-align: center !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    width: 80px;
    border: none !important;
    overflow-wrap: break-word;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
  h3.timeline__content-title {
    font-size: 30px;
    & span {
      font-size: 1.25rem !important;
    }
  }
  .container-fluid.timeline .timeline {
    max-width: 100%;
  }
  .card .card-title.h5 {
    font-size: 1.5rem;
    padding-top: 1.25rem
  }
  .card-body {
    padding-top: 0;
  }
  .timeline-item--active .timeline__content-title {
    margin: 30px 0 10px 0;
  }
}

.timeline__img:nth-child(1) {
  display: none;
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  background-position: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.5);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 46px;
  // font-family: Cardo;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  // font-family: Vacations Brush;
  // font-family: 'Galada', cursive;
  margin: 10px 0 0 0;
}
.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  // font-family: Cardo;
}









// SCSS FILE STARTS HERE //
$total-arrows: 3;
$arrow-line-length: 50px;
$arrow-line-width: 5px;

// arrow animtion + choose direction
@mixin arrow-transitions($rot: 0deg) {
  transform: translate(-50%, -50%) rotateZ($rot);
}

// arrows
.arrow-container {
  display: block;
  width: 100px;
  height: 60px;  
  position: relative;
  bottom: 40px;
  left: 50%;
  @include arrow-transitions(0deg);
  &:hover {
    cursor: pointer;
    .arrow {
      top: 50%;
      &:before {
        @include arrow-transitions(-30deg);
      }
      &:after {
        @include arrow-transitions(30deg);
      }      
    }
  }
}
.arrow {
  position: absolute;
  left: 50%;
  transition: all .4s ease;
  &:before,
  &:after {
    transition: all .4s ease;
    content: '';
    display: block;
    position: absolute;
    transform-origin: bottom right;
    // background: rgba(238,124,24,1);
    // background: rgba(40,56,17,1);
    // background: rgba(86,4,16,1);
    // background: rgba(239,185,44,1);
    background: rgba(85,103,62,1);
    width: $arrow-line-width;
    height: $arrow-line-length;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  &:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  @for $i from 1 through $total-arrows {
    &:nth-child(#{$i}) {
      opacity: 0.3 * $i;
      top: 0 + (100% * $i/5);
    }
  }
}
#rsvp_submit {
  margin-top: 0.75rem;
}