/* App.scss */
@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
.App {
  text-align: center; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000; }

.App-link {
  color: #61dafb; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Vacations Brush; }

h1 {
  font-size: 80px; }

h2 {
  font-size: 44px; }

h3 {
  font-size: 32px; }

.h5 {
  font-size: 32px;
  margin-bottom: 0; }

/* BUTTON */
.btn-primary {
  background-color: #EE7C18;
  border: #EE7C18 2px solid;
  border-radius: 3px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease; }

.btn-primary.hover, .btn-primary:hover {
  background-color: #EE7C18;
  border: #560410 2px solid;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease; }

.btn-primary.focus, .btn-primary:focus {
  background-color: #560410;
  border: #560410 2px solid;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  box-shadow: 0 0 0 0.2rem rgba(86, 4, 16, 0.5); }

.btn-primary.main_button {
  background-color: #283811;
  border: #283811 solid 2px;
  border-radius: 0px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  font-size: 2rem;
  box-shadow: none !important;
  padding: 0; }
  .btn-primary.main_button:hover, .btn-primary.main_button:focus, .btn-primary.main_button:active {
    background-color: #560410 !important;
    border-color: #560410 !important;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease; }
  .btn-primary.main_button > div {
    padding: .375rem .75rem;
    border: #EBE3D9 solid 2px; }

/* END */
.modal-header .modal-title {
  text-align: center;
  width: 100%;
  font-size: 2rem; }

.registry-icons .modal-body .card {
  border: none; 
}
.modal-body img.map {
  width: 100%;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px; }

.home {
  height: 100vh;
  background-size: cover;
  background-position: center right; }

.home .container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 40px; }

.hero {
  background-color: rgba(235, 227, 217, 0.75); }

#home .hero-image-text {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.75); }

.hero-menu {
  min-height: 100px; }

.hero-menu h2.title {
  color: #560410;
  padding-bottom: 20px; }

.hero-menu h3.title {
  margin-bottom: 0px; }

.about-us .section h2 {
  color: white; }

.about-us .section img {
  width: 600px;
  max-width: 100%; }

.countdown-container {
  display: block;
  padding: 0; }

.countdown-container > div > span {
  color: #560410;
  font-weight: 500;
  display: inline-flex; }

.countdown-container > div > span.increment {
  padding: 0 5px; }

.countdown-container span > strong {
  padding: 0 4px;
  color: #ee7c18;
  display: block; }

.countdown-container h2 {
  text-align: center; }

.container-fluid.timeline {
  max-width: 100%;
  padding: 0; }

.container-fluid.timeline .timeline {
  max-width: 80%; }

img#about_us {
  width: 100%; }

.bio-card .card {
  width: 80%;
  margin: auto; }

.hero-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.hero-row a {
  padding: 0 20px; }

.hero-row button {
  font-family: Vacations Brush;
  font-size: 30px; }

.hero-row > div:nth-child(2) {
  display: block !important;
  position: relative; }

#buttons.section {
  background-color: rgba(235, 227, 217, 0.75); }

#buttons.section > div {
  width: 800px;
  max-width: 100%;
  margin: auto; }

.about-us {
  position: relative;
  background-size: cover;
  background-image: url("./images/green_bg.jpg"); }

.about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(0px); }

.fur-babies {
  background-color: white; }

.fur-babies .card {
  background-color: rgba(235, 227, 217, 0.75); }

.fur-babies .col-6:nth-child(even) .card {
  margin-bottom: 20px; }

.registry .card {
  border: none;
  width: 80%;
  max-width: 300px;
  margin: auto; }

.registry .col-6 {
  margin-bottom: 40px; }

.registry .container {
  flex-wrap: wrap;
  align-items: center; }

@media only screen and (max-width: 767px) {
  .home .container {
    align-items: self-start;
    text-align: right; }
  .home .container h2 {
    text-align: right !important; } }

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative; }

.timeline__content-title {
  font-weight: normal;
  margin: -30px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'Vacations Brush', sans-serif;
  color: #fff; }

h2.timeline__content-title {
  font-size: 66px; }

h3.timeline__content-title {
  font-size: 44px; }

.timeline__content-desc {
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  color: white;
  font-weight: normal;
  line-height: 25px; }

.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.5); }

.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px); }

.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  font-size: 44px;
  text-transform: uppercase;
  font-family: 'Vacations Brush', sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px); }

.timeline-item:nth-child(even) {
  align-self: flex-end; }

.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px; }

.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px); }

.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1; }

.timeline-item--active .timeline__content-title {
  margin: 30px 0 10px 0; }

@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 70px; }
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px; }
  .timeline-item:before {
    content: attr(data-short-text) !important;
    font-size: 30px !important;
    top: 50px;
    left: 10px !important;
    padding: 0 !important;
    text-align: center !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    width: 60px;
    border: none !important;
    overflow-wrap: break-word; }
  .timeline-item:last-child {
    padding-bottom: 40px; }
  .container-fluid.timeline .timeline {
    max-width: 100%; } }

.timeline__img:nth-child(1) {
  display: none; }

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4); }

.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover; }

.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.5);
  content: ""; }

.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative; }

.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-weight: normal;
  margin: 0; }

.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Vacations Brush';
  margin: 10px 0 0 0; }

.demo-footer {
  padding: 60px 0;
  text-align: center; }

.demo-footer a {
  color: #999;
  display: inline-block; }

.arrow-container {
  display: block;
  width: 100px;
  height: 60px;
  position: absolute;
  top: calc(90% - 40px);
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg); }
  .arrow-container:hover {
    cursor: pointer; }
    .arrow-container:hover .arrow {
      top: 50%; }
      .arrow-container:hover .arrow:before {
        transform: translate(-50%, -50%) rotateZ(-30deg); }
      .arrow-container:hover .arrow:after {
        transform: translate(-50%, -50%) rotateZ(30deg); }

.arrow {
  position: absolute;
  left: 50%;
  transition: all .4s ease; }
  .arrow:before, .arrow:after {
    transition: all .4s ease;
    content: '';
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: #ebe3d9;
    width: 5px;
    height: 50px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg); }
  .arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg); }
  .arrow:nth-child(1) {
    opacity: 0.3;
    top: 20%; }
  .arrow:nth-child(2) {
    opacity: 0.6;
    top: 40%; }
  .arrow:nth-child(3) {
    opacity: 0.9;
    top: 60%; }
